mixin date(options)
    .date
        input.date__input(
            type='text' 
            class="datepicker-here" 
            data-inline='false' 
            data-range="true"             
            data-position="bottom left"
            keyboardNav="true" 
            data-multiple-dates-separator=" - "
            data-clearButton="true"
            placeholder="ДД,ММ.ГГГГ")    
        .date__icon
            i.material-icons expand_more