//-
    options.inputField - если false, то выводится календарь без поля ввода
    options.inline - если true, то календарь будет постоянно виден
    options.placeholder - 

mixin date(options = {})
    - let {placeholder = 'ДД.ММ.ГГГГ', inline = false, inputField = true} = options
    - inline = inline ? 'true' : 'false'

    .date
        if inputField === false
            .datepicker-here(
                data-range="true"             
                data-position="bottom left"
                data-keyboard-nav="true" 
                data-multiple-dates-separator=" - "                            
                data-clear-button="true"
                data-today-button='true'
                data-prev-html="<i class='material-icons'>arrow_back</i>"
                data-next-html="<i class='material-icons'>arrow_forward</i>"
                data-nav-titles={days: 'MM <i>yyyy</i>'}
            )
        else          
            input.date__input(            
                type='text' 
                placeholder= placeholder
                class="datepicker-here" 
                data-inline= inline
                data-range="true"             
                data-position="bottom left"
                data-keyboard-nav="true" 
                data-multiple-dates-separator=" - "                            
                data-clear-button="true"
                data-today-button='true'
                data-prev-html="<i class='material-icons'>arrow_back</i>"
                data-next-html="<i class='material-icons'>arrow_forward</i>"
                data-nav-titles={days: 'MM <i>yyyy</i>'}
            )    
            .date__icon
                i.material-icons expand_more
        