//-
    Вызов
    +button({Опции})(Атрибуты)
    
    Опции вызываются в виде:
        ({ключ: 'значение', ключ: 'значение', ...})
    Пример вызова атрибутов:
        (class='имя-класса' href='url-адрес' ...)

    Опции:
    options.text - текст на кнопке
    options.size - размер ('' или 'bg' - большая, 'sm' - маленькая)
    options.style - стиль ('' или 'st' - обычная, 'lt' - белый фон, 'wb' - без фона и бордюра, 'ic' - с иконкой)
    options.color - цвет текста ('' или 'st' - по умолчанию, 'inactive' - неактивный)
    options.type - 
    Атрибуты:
    attributes.class - классы

mixin button(options = {})
    
    -
        let {text = '', size = 'bg', style = 'st', color = 'st'} = options
        let classes = style === 'wb' 
            ? `button button_style-${style} button_color-${color}` 
            : `button button_style-${style} button_color-${color} button_size-${size}`

    button(class=classes)
        .button__text= text
        if style === 'ic'
            .button__icon
                i.material-icons arrow_forward