extends ../template 

//-


block title
  |  Страница Room

block main   
    .room 

        +header()
        .room__banner
            .room__banner-left
                img.room__banner-img1(src=require("./img/888-room-baner1.jpg"), alt="Интерьер номера")                
            .room__banner-right
                img.room__banner-img2(src=require("./img/888-room-baner2.jpg"), alt="Интерьер номера")
                img.room__banner-img3(src=require("./img/888-room-baner3.jpg"), alt="Интерьер номера")
        .room__main
            .room__content-width
                .room__wrapper-content                    
                    .room__content
                        .room__content-top
                            .room__info
                                h2.room__info-title Сведения о номере  
                                .room__info-content     
                                    +listbox({title:'', items: [{name: 'Комфорт', desc: 'Шумопоглощающие стены', icon: 'insert_emoticon'}, {name: 'Удобство', desc: 'Окно в каждой из спален', icon: 'location_city'}, {name: 'Уют', desc: 'Номер оснащён камином', icon: 'whatshot'}]})
                            .room__impress
                                h2.room__impress-title Впечатления от номера
                                .room__impress-content
                                    +pie-chart()
                        .room__reviews
                            .room__reviews-header
                                h2.room__reviews-title Отзывы посетителей номера
                                p.room__reviews-number 2 отзыва
                            .room__reviews-content
                                .room__reviews-item
                                    .room__row
                                        .room__reviews-left-side
                                            .room__reviews-avatar
                                                img.room__reviews-avatar-img(src=require("./img/murad.jpg"), alt="Аватар пользователя")
                                            .room__like
                                                +like({count: 12, like: true})
                                        .room__reviews-right-side
                                            .room__reviews-username Мурад Сарафанов                               
                                            .room__reviews-time 5 дней назад
                                            .room__reviews-message Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
                                .room__reviews-item
                                    .room__row
                                        .room__reviews-left-side
                                            .room__reviews-avatar
                                                img.room__reviews-avatar-img(src=require("./img/patrisija.jpg"), alt="Аватар пользователя")
                                            .room__like
                                                +like({count: 2})
                                        .room__reviews-right-side
                                            .room__reviews-username Патрисия Стёклышкова
                                            .room__reviews-time Неделю назад
                                            .room__reviews-message Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
                        .room__content-bottom
                            .room__rules
                                h2.room__rules-title Правила
                                .room__rules-list
                                    +listbox({title:'', content: 'ul', items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})

                            .room__cancel
                                h2.room__cancel-title Отмена
                                p.room__cancel-content Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                    .room__sidebar
                        +room-calc()
        .room__footer
            +footer()