//- Компонент выводит информацию в виде списка. Элементы списка могут быть выведены в виде чекбоксов, 
    радиокнопок, ссылок, маркированных элементов, простого текста. Списку можно задать заголовок.
    Список может быть выпадающим или фиксированным. 
    Вызов компонента:    
    +listbox({title: 'Навигация', items: navigation})
    
    где `navigation` может быть задана в виде массива объектов, например:

    let navigation = [
        {name: 'О нас', link: '/about.html'},
        {name: 'Новости', link: '/news.html'},
        {name: 'Служба поддержки', link: '/support.html'},
        {name: 'Услуги', link: '/services.html'}
    ]
    ---
    options.type - тип списка ('drop' - выпадающий, 'fix' - фиксированный)
    options.drop - выпадающий список открыт ('true') или закрыт ('false')
    options.content - тип списка ('checkbox' - чекбоксы, 'ul' - маркированный список 'txt' - текст)
    options.title - заголовок списка ({title: ''} - отключает заголовок)
    options.items[n] - массив списка элементов
    options.items[n].name - массив списка названий элементов
    options.items[n].desc - массив списка расширенного описания элементов
    options.items[n].link - массив ссылок, соответствующих названиям элементов
    options.items[n].icon - массив названий иконок из Material Icons

mixin listbox(options = {})
  
    - let {drop = 'true', title = '', items = [], content = 'checkbox', type = 'fix'} = options
    - let dropClass = 'js-listbox__drop'
    - let arrow = 'js-listbox__arrow js-listbox__arrow_rotate'
    - if (drop === false)
        - dropClass = 'js-listbox__drop js-listbox__drop_close'
        - arrow = 'js-listbox__arrow'

    .listbox(class=`listbox_${content}`) 
        //- Выводит заголовок списка если задан
        if (title !== '')
            .listbox__header.js-listbox__header
                .listbox__title= title
                //- Выводит значок expand_more если список выпадающий
                if (type === 'drop')
                    .listbox__icon-wrapper
                        div(class=arrow)
                            i.material-icons expand_more
        if (type === 'drop')
            ul.listbox__ul(class=dropClass)
        else 
            ul.listbox__ul
                each item, index in items
                    //- Если список маркированный
                    if (content === 'ul')
                        .listbox__bulleted
                            ul.listbox__bulleted-ul
                                li.listbox__bulleted-li= item
                    //- Если список в виде текста
                    else if (content === 'txt')
                        li.listbox__text= item                       
                    //- Другие типы списков, в т. ч. чекбоксы
                    else                    
                        //-
                        if (typeof item === 'object' && item.desc !== undefined)
                            //- Если в объекте есть имена значков
                            if (item.icon !== undefined)  
                                //- выводится список со значками и доп. описанием
                                li.listbox__li
                                    .listbox__item_with-icon
                                        .listbox__row
                                            .listbox__icon-mi
                                                i.material-icons.md-48= item.icon
                                            .listbox__column
                                                .listbox__item-name= item.name
                                                .listbox__item-desc= item.desc
                                    if (index < items.length - 1)
                                        .listbox__separating-line
                            //- Иначе выводится список с чекбоксами и доп. описанием
                            else
                                li.listbox__li.listbox__li_checkbox-extended
                                    .listbox__name
                                        +select({label: item.name, inherit: true})
                                    p.listbox__desc= item.desc
                        //- Если в объекте заданы ссылки
                        else if (typeof item === 'object' && item.link !== undefined)
                            li.listbox__li_for-links
                                a.listbox__a(href= item.link)= item.name
                        //- По умолчанию выводится список из чекбоксов
                        else
                            li.listbox__li(class='listbox__li_checkbox-simple') 
                                +select({label: item}) 