//- 
    options.number - номер
    options.luxe - люкс опции (true - да, false - нет)
    options.rate - стоимость номера в сутки
    options.arrival - дата прибытия
    options.departure - дата выезда
    options.discount - скидка
    options.toll - сбор за услуги  
    options.feeAddService - сбор за доп. услуги

mixin room-calc(options = {})

    - let {number = 888, luxe = true, rate = 9990, arrival = '19.08.2019', departure  = '23.08.2019', discount = 2179, toll = 0, feeAddService = 300} = options

    .room-calc
        .room-calc__header
            .room-calc__number
                .room-calc__number-symbol №
                h1 #{number}                
                if (luxe)
                   h3 Люкс
            .room-calc__rate
                .room-calc__rate-value #{rate}₽
                p в сутки
        .room-calc__date-picker
            .room-calc__arrival-date
                h3.room-calc__field-label Прибытие
                +date()
            .room-calc__departure-date
                h3.room-calc__field-label Выезд
                +date()
        h3.room-calc__field-label Гости
        .room-calc__dropdown
            +dropdown()
            - let day = 4
        table.room-calc__result
            tr.room-calc__row.room-calc__gross
                td.room-calc__cell 
                    .room-calc__gross-label #{rate}₽ x #{day} суток
                - let result = rate * day
                td.room-calc__cell 
                    .room-calc__gross-value #{result}₽
            tr.room-calc__row.room-calc__toll
                td.room-calc__cell
                    .room-calc__cell-wrapper
                        .room-calc__toll-label Сбор за услуги: скидка #{discount}₽
                        .room-calc__tooltip i
                td.room-calc__cell
                    .room-calc__toll-value #{toll}₽
            tr.room-calc__row.room-calc__fee
                td.room-calc__cell
                    .room-calc__cell-wrapper
                        .room-calc__fee-label Сбор за дополнительные услуги
                        .room-calc__tooltip i
                td.room-calc__cell
                    .room-calc__fee-value #{feeAddService}₽
            tr.room-calc__row.room-calc__total
                td.room-calc__cell.room-calc__cell_total
                    .room-calc__cell-wrapper
                        p.room-calc__total-label Итого                    
                        span.room-calc__total-point
                - let total = result - discount + toll + feeAddService
                td.room-calc__cell.room-calc__cell_total
                    .room-calc__total-value #{total}₽
        .room-calc__button-wrapper
            +button({text: "Забронировать", style: "ic"})      
