//-
    options.number - номер номера
    options.luxe - люкс опции (true - да, false - нет)
    options.price - стоимость номера рублей в сутки
    options.rate - количество звезд
    options.review - количество отзывов
    options.imgName - имя файла изображения

mixin room-card(options = {})

    - let {number, price, rate, review, luxe, imgName} = options    
    
    .room-card     
        //- Путь в img перенести в вызывающую страницу
        img.room-card__img(src=require(`../../pages/search-room/img/${imgName}.jpg`))        
        .room-card__description
            .room-card__number-card
                .room-card__number
                    .room-card__number-symbol №
                    .room-card__number-number #{number}                      
                    if luxe
                        .room-card__type Люкс
                .room-card__price
                    .room-card__price-value #{price}₽
                    .room-card__price-period в сутки        
            .room-card__dividing-line
            .room-card__rate-review
                .room-card__rate
                    +rate(rate)
                .room-card__review
                    .room-card__review-value #{review}
                    .room-card__review-review Отзывов